/* Less vars
 * @body_font
 * @h_font
 * @body_fontsize
 * @body_fcolor
 * @body_color
 * @link_color
 * @linkhover_color
 * @footer_color
 * @footer_fcolor
 * @menu_background
 * @primary_color
 * @secondary_color
 * @primary_bg
 * @secondary_bg
 * @success_bg
 * @error_bg
 * @success_color
 * @error_color
*/

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

main { margin-top: 98px; }

.navbar {
    padding: .6rem 1rem;
    background: @menu_background !important;
}

.navbar-toggler-icon { background: @menu_background; }
.navbar-toggler:focus {
  box-shadow: none;
}

.nav-item {
  padding: 0 10px;
}

.nav-item.deeper { position: relative; }

.mod-menu__sub {
  display: none;
  position: absolute;
  background: @link_color;
  color: #fff;
  min-width: 250px;
  padding: 15px;
  left: -50px;
}
.mod-menu__sub > li { color: #fff; padding: 10px 0; }
.mod-menu__sub > li:hover { background-color: transparent; }
.mod-menu__sub > li:hover > a { color: #fff; }
.mod-menu__sub > li > a { color: #fff; border-bottom: 1px solid #fff; display: block; }

ul.mod-menu > li.deeper:hover > .mod-menu__sub { 
  display: block; 
}

.logo-img { max-width: 250px; }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: @primary_bg;
}

@media (max-width: 991.98px) {

  #navbarsExampleDefault { background: @menu_background; }

  .offcanvas-collapse {
    position: fixed;
    top: 98px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: @menu_background;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
    z-index: 10000;
  }
  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
  .nav-item {
    padding: 20px 10px;
  }
  .nav-item > a {
    color: @link_color;
  }
  .nav-pills .nav-link {
    padding: 10px 15px;
  }
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    border-radius: 0;
  }
  .mod-menu__sub {
    display: none;
    position: relative;
    background: @menu_background;
    color: #fff;
    min-width: 250px;
    padding: 15px;
    left: 10px;
  }
  .mod-menu__sub > li { color: @link_color; padding: 10px 0; }
  .mod-menu__sub > li:hover { background-color: transparent }
  .mod-menu__sub > li:hover > a { color: @link_color; border-bottom: 1px solid #fff; }
  .mod-menu__sub > li > a { color: @link_color;  display:block; }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

