/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    background: #683B2B;
}

#submenu {
	display: none;
    min-width: 250px;
    max-width: 250px;
    background: rgb(225, 216, 213, 0.9);
    transition: all 0.3s;
    position: fixed;
    z-index: 500;
    left: 80px;
    height: 100%;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar .sidebar-header {
    padding: 20px;
    color: #FFCD00;
    cursor: pointer;
}

.fixbar {
	position: fixed;
	padding: 0 20px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #FFEB99;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a {
    color: #fff;
    background: #6d7fcc;
}

@media (max-width:576px) {
	.wrapper {
    	display: block;
	}
	#sidebar {
    	min-width: 100%;
    	max-width: 100%;
    	height: 70px;
    	z-index: 1000;
    	position: fixed;
	}
	#submenu {
		min-width: 100%;
		max-width: 100%;
		left: 0;
		height: 440px;
	}	
}

ul.menu {
	margin-top: 70px;
	padding: 0 10px;
}

ul.menu li a.nav-link {
	font-weight: 700;
	font-size: 1.45em;	
	color: #683B2B;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

.menu-footer li a.nav-link { padding: 0; }

.footer {
	min-height: 150px;
	background-color: #fff;
	color: #683B2B;
	border-top: 1px solid #683B2B;
	padding-top: 20px;
}

.footer ul.menu { margin-top: 0; }
