.gridly {
    position: relative;
    width: 100%;
  }
  .brick.large {
    width: 100%;
    height: 200px;
    border: #ccc 2px dashed;
    position: relative;
    cursor: grab;
  }
  .brick.published {
  	background-color: #6f6c6c;
  }
  .brick.unpublished {
  	background-color: #f2f2f2;
  }
  .brick-options {
  	background-color: #fff;
  	color: #ccc;
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: auto;
	font-size: 22px;
	text-align: center;
	padding: 10px 0;
  }
  .brick-options a {
  	display: block;
  }
  .brick-options a span[class^="icon-"]::before, brick-options a span[class*=" icon-"]::before {
  	color: #6f6c6c;	
  }
  .brick-msg {
  	color: #ccc;
	font-size: 22px;
	margin: 6% auto;
	text-align: center;
  }
  input[type="checkbox"].cb {
  	margin: 7px !important;
  }
  
  .j-sidebar-container.j-sidebar-visible {
  	height: 100vh;
  	background-color: #6f6c6c;
  }
  .icon-arrow-left-2::before {
  	color: #fff;
  }
  .icon-arrow-right-2::before {
  	color: #6f6c6c;
  }
  .sidebar-nav .nav-list > li > a {
    color: #fff;
    padding: 5px 25px;
    text-transform: uppercase;
  }
  .sidebar-nav .nav-list > li > a:focus, .sidebar-nav .nav-list > li > a:hover {
    color: #6f6c6c;
    background-color: #f2f2f2;
  }
  .jpf-filters {
  	margin-bottom: 10px;
    background-color: #6f6c6c;
    padding: 10px;
  }
  #all { float: left; }

